*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor: rgba(0, 0, 0, 0.969);
    --bgcolor2: rgba(42, 71, 42, 0.13);
    --borderColor: rgba(128, 128, 128, 0.715);
    --btnColor: rgb(236, 145, 160);
    --textColor: whitesmoke;


}
body{
    background-color: var(--bgcolor);
    height: 100vh;
    width:  100%;
    
}

header{
       width: 100%;
       height: 80px;
       position: relative;
     
      
}
.header_container{
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
   

}

.image img{
    height: 80px;
}


nav li{
    display: inline;
    margin-right: 20px;
    color: var(--textColor);

}

.btn button {
    width: 80px;
    height: 40px;
    border-color: var(--borderColor);
    color: var(--textColor);
    background-color: var(--btnColor);
}

.login{
    color: var(--textColor);
    box-shadow: 10px 10px 10px 10px rgba(102, 51, 153, 0.455);
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 80px;
    right: 500px;
    display: none;

    
}
.login h4{
    
    font-size: 1.5rem;
}

.login input{
    width: 100%;
    margin-bottom: 10px;
}
.login label{
    float: left;
}
.login button {
    width: 70px;
    height: 30px;
    color: black;
    font-weight: bolder;
    background-color: var(--btnColor);
    border-color: var(--borderColor);
}
.signup{
    width: 400px;
    height: 430px;
    color: var(--textColor);
    box-shadow: 10px 10px 10px 10px rgba(102, 51, 153, 0.455);
    padding: 10px 30px 10px 30px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    right: 50px;
    display: none;


}
.signup input{
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
}
.signup label{
    float: left;
}

.signup p{
    margin-top: 10px;
    font-size: 10px;
}
.signup button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: var(--borderColor);
    background-color: var(--btnColor);
    color: var(--textColor);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
    
}

main{
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 550px 450px;
    grid-template-rows: 500px;
    grid-template-areas: "main_text phone" "main_text phone";
    
   
    margin: 0 auto;
    
    justify-content: center;
    align-content: center;
}
@media screen and (max-width: 783px) {

    main{
        width: 760px;
        grid-template-columns: 380px 340px;
        column-gap: 0px;
    }
    .phone_main{
        width: 340px;
        height: 550px;
    }
    main .main_text{
        width: 380px;
    }
    header .header_container .login{
        top: 120px;
        right: 400px;
    }
    header .header_container .signup{
        top: 120px;
       width: 300px;
    }
    .header_container{
        width: 760px;
    }
    
}

@media screen and (max-width: 495px) {

    main{
        margin-top: 270px;
        width: 480px;
        grid-template-columns: 350px;
        grid-template-rows: 500px, 500px;
        grid-template-areas: 'main_text' "phone";
        row-gap: 20px;
        
        
    }
    .main_text{
         width: 480px;
    }
    header .header_container .login{

        right: 30px;
    }
   
    .header_container{
        width: 450px;
    }
    header .header_container img{
         width: 50px;
    }
    header .header_container nav li{
        margin-right: 10px;
        font-size: 14px;

    }
    header .header_container button{
        width: 50px;

    }
    header .header_container .signup button{
       
       width: 100%;
    }
}

@media  screen and (max-width: 350px) {
    
    main{
        margin-top: 420px;
        width: 320px;
        grid-template-columns: 320px;
        grid-template-rows: 500px, 500px;
        grid-template-areas: 'main_text' "phone";
        
        
        
    }
    .header_container{
        width: 320px;
    }
    header .header_container img{
         width: 50px;
    }
    header .header_container nav li{
        margin-right: 1px;
        font-size: 10px;

    }
    header .header_container button{
        width: 40px;
        font-size: 9px;
        height: 30px;

    }
    header .header_container .signup button{
       
    }
    main .main_text{
         width: 300px;
         height: 400px;
         
    }
    
    main .main_text h2{
        font-size: 30px;
        
    }
    main .main_text h6{
        
        margin-top: 80px;
    }
    main .phone{
        width: 300px;
        margin-left: 10px;
        
        margin-top: -80px;
    }
    .phone .phone_main{
       
        width: 200px;
        height: 550px;
        margin: 0 auto;
        animation: moveout 2s linear infinite;
    }
    @keyframes moveout {
        0%{
            transform: translate(20px, 0px);
            
        }
        30%{
            transform: translate(20px, 0px);
            opacity: .3;
        }
    
    }
    .phone .phone_main .card{
        font-size: 15px;
        width: 180px;
    }
    .phone .phone_main .phone_top{
        width: 190px;
    }
    .phone .phone_main .small_card_div{
        width: 200px;
    }
    .phone .phone_main .small_card_div .small_card{
        width: 80px;
        font-size: 10px;
    }


}


.main_text{
    width: 500px;
    padding: 0px 0px 0px 15px;
    margin: 0 auto;
    color: var(--textColor);
    grid-area: main_text;
    
}
.main_text h2{
    font-size: 40px;
}
.main_text h6{
    font-style: italic;
    font-weight: lighter;
    margin-top: 250px;
}
.main_text button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--btnColor);
    border-color: var(--borderColor);
    font-size: 15px;
    color: var(--textColor);
    margin-top: 20px;
}
.main_text button i{
      margin-left: 5px;
      border: 2px solid var(--textColor);
      border-radius: 50%;
}
.phone{
   
    grid-area: phone;
    padding: 20px;

}
/* .main_text:hover{
    box-shadow: 10px 10px 10px 10px var(--borderColor);}

.phone:hover{
    box-shadow: 10px 10px 10px 10px var(--borderColor);
    
}  */


.phone_main{
    border: 2px solid rgba(128, 128, 128, 0.173);
    width: 270px;
    height: 550px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--bgcolor2);
    padding-top: 10px;
    animation: movein 2s linear infinite;
}
@keyframes movein {
    0%{
        transform: translate(70px, 0px);
        
    }
    100%{
        transform: translate(0px, 0px);
        opacity: .3;
    }

}
.phone .phone_top{
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: end;
    color: var(--textColor);
}
.phone_top button{
    color: rebeccapurple;
}
.dots{
    width: 30px;
    height: 25px;
    padding: 4px;
    
}

.dot{
     width: 20px;
     height: 2px;
     margin-bottom: 4px;
     background-color: white;
}

.phone .card{
   border: 2px solid rgba(128, 128, 128, 0.173);;
   width: 250px;
   height: 140px;
   background-color: rgba(102, 51, 153, 0.703);
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 30px;
   padding: 10px 20px 10px 20px;
   font-size: 17px;
   position: relative;
   color: var(--textColor);
}

.card p{
    margin-bottom: -10px;
}
.card .card-div{
    display: flex;
    justify-content: space-between;
}
.card i{
    color: var(--textColor);
    font-size: 20px;
}

.circle_div{
    width: 100%;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle_dot{
    width: 10px;
    background-color: var(--textColor);
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    
}

.small_card_div{
    width: 250px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    
}
.small_card{
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    display: flex;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.439);
    flex-direction: column;
    padding: 30px 0px 0px 5px;
    color: var(--textColor);
    font-size: 13px;
    
}
.history_sub{
    width: 100%;
    padding: 10px;
    height: 170px;
    margin-top: 10px;
    
    color: var(--textColor);
}
.history_sub .history_div{
      font-size: 15px;
      padding: 10px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
}
.history_div h4{
      font-size: 10px;
}
.history_div button{
    width: 30px;
    color: black;
    height: 20px;
    font-size: 15px;
}
.phone_main .phone_down{
    width: 100%;
    height: 30px;
   background-color: rgba(102, 51, 153, 0.703);
   display: flex;
   justify-content: space-between;
   padding: 5px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-top: 25px;

}

.phone_down button{
    background-color: inherit;
    outline: none;
    border: none;
    border-color: none;
    font-size: 15px;
    color: var(--textColor);
}